#header{
        background-color: #6439FF;
        color:#fff;
        padding: 2rem;
        text-align: center;
        margin: 2rem;
    }
    p{
        
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    
    #header img{
        width: 150px;
        border-radius: 50%;
    }
    
    #data{
        background-color: #94B4C1;
        color:#fff;
        padding: 2rem;
        text-align: center;
        margin: 2rem;
    }