*{
    padding: 0;
    margin: 0;
}


#header{
    text-align: center;
    /* background-color: turquoise;
    background: turquoise; */

    /* background: linear-gradient(tomato, rgb(236, 164, 49)); */
    /* background: linear-gradient(tomato, rgb(236, 164, 49), dodgerblue); */
    /* background: linear-gradient(tomato 40%, dodgerblue 60%); */
    /* background: linear-gradient(90deg,tomato 40%, dodgerblue 60%); */

    /* background: url();
    background-image: url();
     */

     /* background: url(https://media.istockphoto.com/id/1494319207/photo/clouds-on-the-sky-sunset-weather.jpg?s=612x612&w=0&k=20&c=cxsby3Dve0TmDU1jzmED5R7J2zOADRQYADc-TcM9SrM=); */
     background: linear-gradient(rgba(255,100,9,0.5),rgba(0,0,0,0.5)) ,url(https://media.istockphoto.com/id/1494319207/photo/clouds-on-the-sky-sunset-weather.jpg?s=612x612&w=0&k=20&c=cxsby3Dve0TmDU1jzmED5R7J2zOADRQYADc-TcM9SrM=);
background-repeat:no-repeat ;
background-size: cover;
background-position: center;

/* background-repeat:repeat-x ; */
/* background-repeat:repeat-y ; */


/* padding : inner space */

/* t-r-b-l */
padding:8rem;

/* t-b , l-r */
/* padding: 20px 40px; */

/* t , l-r , b */
/* padding: 40px 50px 80px; */

/* t ,r,b,l */
/* padding: 40px 50px 80px 40px; */

/* 1rem : 16px */
/* padding-top: 1rem;
padding-bottom: 1rem;
padding-left: 1rem;
padding-right: 1rem; */



/* margin : outer space */

/* t-r-b-l */
/* margin:8rem; */

/* t-b , l-r */
/* margin: 20px 40px; */

/* t , l-r , b */
/* margin: 40px 50px 80px; */

/* t ,r,b,l */
/* margin: 40px 50px 80px 40px; */

/* 1rem : 16px */
/* margin-top: 1rem;
margin-bottom: 1rem;
margin-left: 1rem;
margin-right: 1rem; */


margin-bottom: 1rem;




/* border-width: 1rem;
border-style: solid;
border-color: red; */


/* border-top-width: 1rem;
border-top-style: solid;
border-top-color: red; */



border: 1rem solid red;
/* border-top: 1rem solid red;
border-right: 1rem solid red;
border-bottom: 1rem solid red;
border-left: 1rem solid red; */
}


#header h1{
    position: relative;
    top:2000px;
    font-size: 40px;
    letter-spacing: 20px;
    font-family:Sacramento ,fantasy;
    font-weight: 900 ;
    /* x,y,b,c */
    text-shadow:4px 4px 0 red ;

}
#header p{
    text-align:justify;
    line-height: 2;
    font-size: 20px;
    color:red;
}
